/* * {
    overflow: hidden;
} */

.row {
    justify-content: center;
}

.uv-index {
    display: flex;
}

header {
    display: grid;
    justify-content: center;
    color: white;
    background-image: linear-gradient(90deg, #419AF2 0%, #6CC8F1 50%, #89E7F0 90%);
    text-shadow: 2px 2px 4px #132147;
}

h1,
h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
}

#good-uvi {
    background-color: green;
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: .25rem;
}

#regular-uvi {
    background-color: rgb(255, 187, 0);
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: .25rem;
}

#bad-uvi {
    background-color: rgb(255, 51, 0);
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: .25rem;
}

img {
    width: 5rem;
    height: 5rem;
}

.daily-forecast-img {
    width: 3rem;
    height: 3rem;
}

.five-day-forecast {
    border-radius: .25rem;
}

#daily-forecast {
    display: flex;
}