/* * {
    overflow: hidden;
} */

body {
    background-image: linear-gradient(90deg, #419AF2 0%, #6CC8F1 50%, #89E7F0 90%);
}

.signature {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #419AF2 0%, #6CC8F1 50%, #89E7F0 90%);
}

.main-search {
    display: flex;
    flex-direction: column;
}

.row {
    justify-content: center;
}

.uv-index {
    display: flex;
}

header {
    display: grid;
    justify-content: center;
    color: white;
    background-image: linear-gradient(90deg, #419AF2 0%, #6CC8F1 50%, #89E7F0 90%);
    text-shadow: 2px 2px 4px #132147;
}

h1,
h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
}

#good-uvi {
    background-color: green;
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: .25rem;
}

#regular-uvi {
    background-color: rgb(255, 187, 0);
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: .25rem;
}

#bad-uvi {
    background-color: rgb(255, 51, 0);
    color: white;
    width: 3rem;
    display: flex;
    justify-content: center;
    border-radius: .25rem;
}

img {
    width: 5rem;
    height: 5rem;
}

.daily-forecast-img {
    width: 3rem;
    height: 3rem;
}

.five-day-forecast {
    border-radius: .25rem;
}

#daily-forecast {
    display: flex;
}

.clear-history {
    border-radius: .25rem;
    background-color: white;
    border: 0;
}

.clear-history:hover {
    box-shadow: 2px 2px black;
}

@media only screen and (max-width: 720px) {
    #daily-forecast {
        display: flex;
        flex-direction: column;
    }
    main {
        text-align: center;
        margin-bottom: 3rem;
    }
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}